@use "sass:string";
@use 'variables' as var;

@mixin circle($color,$top,$left){
    border-radius:50%;
    width:var.$circle-diameter;
    height:var.$circle-diameter;
    background-color: $color;
    position:fixed;
    top:$top + calc(var.$circle-diameter / 2);
    left:$left;
}